.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Newly added after using JSX */

.container {
  color: brown;
  background-color: slateblue;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.person {
  background-color: saddlebrown;
  border: 2px solid slateblue;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}
.friend {
  background-color: rgb(157, 139, 126);
  border: 2px solid slateblue;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}
